In [3]:
import pandas as pd
import numpy as np
import random
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

In [4]:
data=pd.read_csv('Churn_Modelling.csv')
data.head(20) #head gives 1st 5 reading by default, here it will give 20

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
18,19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
19,20,15568982,Hao,726,France,Female,24,6,0.00,2,1,1,54724.03,0

In [5]:
data.set_index('RowNumber', inplace=True)
data.head(20) #head gives 1st 5 reading by default, here it will give 20

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
RowNumber,,,,,,,,,,,,,
1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
20,15568982,Hao,726,France,Female,24,6,0.00,2,1,1,54724.03,0

In [6]:
print(data.isnull().sum())

CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
print(data.shape)

(10000, 13)

In [8]:
#Label Encoding of type
le=LabelEncoder()
data[['Exited']]=data[['Exited']].apply(le.fit_transform)
data[['Geography']]=data[['Geography']].apply(le.fit_transform)
data[['Gender']]=data[['Gender']].apply(le.fit_transform)
data.head(20)

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
RowNumber,,,,,,,,,,,,,
1,15634602,Hargrave,619,0,0,42,2,0.00,1,1,1,101348.88,1
2,15647311,Hill,608,2,0,41,1,83807.86,1,0,1,112542.58,0
3,15619304,Onio,502,0,0,42,8,159660.80,3,1,0,113931.57,1
4,15701354,Boni,699,0,0,39,1,0.00,2,0,0,93826.63,0
5,15737888,Mitchell,850,2,0,43,2,125510.82,1,1,1,79084.10,0
6,15574012,Chu,645,2,1,44,8,113755.78,2,1,0,149756.71,1
7,15592531,Bartlett,822,0,1,50,7,0.00,2,1,1,10062.80,0
8,15656148,Obinna,376,1,0,29,4,115046.74,4,1,0,119346.88,1
9,15792365,He,501,0,1,44,4,142051.07,2,0,1,74940.50,0
10,15592389,H?,684,0,1,27,2,134603.88,1,1,1,71725.73,0
11,15767821,Bearce,528,0,1,31,6,102016.72,2,0,0,80181.12,0
12,15737173,Andrews,497,2,1,24,3,0.00,2,1,0,76390.01,0
13,15632264,Kay,476,0,0,34,10,0.00,2,1,0,26260.98,0
14,15691483,Chin,549,0,0,25,5,0.00,2,0,0,190857.79,0
15,15600882,Scott,635,2,0,35,7,0.00,2,1,1,65951.65,0
16,15643966,Goforth,616,1,1,45,3,143129.41,2,0,1,64327.26,0
17,15737452,Romeo,653,1,1,58,1,132602.88,1,1,0,5097.67,1
18,15788218,Henderson,549,2,0,24,9,0.00,2,1,1,14406.41,0
19,15661507,Muldrow,587,2,1,45,6,0.00,1,0,0,158684.81,0
20,15568982,Hao,726,0,0,24,6,0.00,2,1,1,54724.03,0

In [9]:
#separating label from data
y=data["Exited"]
x=data.drop(["Exited", "CustomerId", "Surname"], axis=1)
print(x.shape)
print(y.shape)

(10000, 10)
(10000,)

In [10]:
#split the data into training and testing data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.3, random_state=2)
#0.3 test_size means 30% data will go to test and remaining 70% will be train
#2 random_state means every 2nd data will be picked, this means we can recreate this random splitting next time as well by using random_state=2

In [11]:
print('Shape of x_train is:', x_train.shape)
print('Shape of x_test is:', x_test.shape)
print('Shape of y_train is:', y_train.shape)
print('Shape of y_test is:', y_test.shape)

Shape of x_train is: (7000, 10)
Shape of x_test is: (3000, 10)
Shape of y_train is: (7000,)
Shape of y_test is: (3000,)

In [12]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

#from keras.utils import to_categorical

# Convert labels to one-hot encoding
#y_train_encoded = to_categorical(y_train, num_classes=10)
#y_test_encoded = to_categorical(y_test, num_classes=10)

In [13]:
print(x_train)
print(x_test)

[[ 0.40603944 -0.90510247 -1.08690612 ...  0.64864693 -1.03756212
  -0.67996046]
 [-1.05419348  0.30886903 -1.08690612 ...  0.64864693 -1.03756212
  -1.63593021]
 [-2.13124471 -0.90510247 -1.08690612 ...  0.64864693  0.96379771
   0.47575929]
 ...
 [ 2.06304133 -0.90510247  0.92004266 ...  0.64864693 -1.03756212
   1.63862882]
 [-1.03348096  0.30886903  0.92004266 ...  0.64864693 -1.03756212
   1.32053662]
 [ 0.03321401 -0.90510247 -1.08690612 ...  0.64864693 -1.03756212
   0.88093201]]
[[ 0.83723003 -0.8945662  -1.11753101 ...  0.64013626 -1.01477582
   1.26517449]
 [-0.05072348  0.30137792 -1.11753101 ...  0.64013626 -1.01477582
   0.53945856]
 [-0.32949959 -0.8945662   0.89482975 ...  0.64013626  0.98543933
   0.75791817]
 ...
 [ 0.29000287  0.30137792  0.89482975 ... -1.5621674   0.98543933
  -0.16812751]
 [ 0.76495475  0.30137792  0.89482975 ...  0.64013626 -1.01477582
   0.34023971]
 [ 1.13665622 -0.8945662   0.89482975 ...  0.64013626 -1.01477582
  -0.56136722]]

In [14]:
#sequential model to initialise our ANN and dense module to build the layers
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [15]:
classifier = Sequential()

#adding input layer and 1st hidden layer
classifier.add(Dense(units=8, kernel_initializer='uniform', activation='relu', input_dim=10))

#adding 2nd hidden layer
classifier.add(Dense(units=16, kernel_initializer='uniform', activation='relu'))

#adding 3rd hidden layer
classifier.add(Dense(units=32, kernel_initializer='uniform', activation='relu'))

#adding output layer
classifier.add(Dense(units=1, kernel_initializer='uniform', activation='sigmoid'))

In [16]:
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

#fitting the ANN to training set
classifier.fit(x_train, y_train, batch_size=16,epochs=100, verbose =1)

Epoch 1/100
438/438 [==============================] - 3s 4ms/step - loss: 0.4864 - accuracy: 0.7917
Epoch 2/100
438/438 [==============================] - 2s 4ms/step - loss: 0.4294 - accuracy: 0.7926
Epoch 3/100
438/438 [==============================] - 2s 3ms/step - loss: 0.4220 - accuracy: 0.8154
Epoch 4/100
438/438 [==============================] - 2s 4ms/step - loss: 0.4163 - accuracy: 0.8284
Epoch 5/100
438/438 [==============================] - 2s 4ms/step - loss: 0.4089 - accuracy: 0.8343
Epoch 6/100
438/438 [==============================] - 2s 4ms/step - loss: 0.4054 - accuracy: 0.8359
Epoch 7/100
438/438 [==============================] - 2s 4ms/step - loss: 0.4033 - accuracy: 0.8320
Epoch 8/100
438/438 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8333
Epoch 9/100
438/438 [==============================] - 2s 3ms/step - loss: 0.4007 - accuracy: 0.8353
Epoch 10/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3998 - accuracy: 0.8340
Epoch 11/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3990 - accuracy: 0.8347
Epoch 12/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3978 - accuracy: 0.8373
Epoch 13/100
438/438 [==============================] - 1s 3ms/step - loss: 0.3980 - accuracy: 0.8343
Epoch 14/100
438/438 [==============================] - 1s 3ms/step - loss: 0.3965 - accuracy: 0.8381
Epoch 15/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3961 - accuracy: 0.8377
Epoch 16/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3959 - accuracy: 0.8381
Epoch 17/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3944 - accuracy: 0.8390
Epoch 18/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3948 - accuracy: 0.8380
Epoch 19/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3945 - accuracy: 0.8386
Epoch 20/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3929 - accuracy: 0.8383
Epoch 21/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3933 - accuracy: 0.8383
Epoch 22/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3932 - accuracy: 0.8389
Epoch 23/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3926 - accuracy: 0.8384
Epoch 24/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3926 - accuracy: 0.8384
Epoch 25/100
438/438 [==============================] - 2s 5ms/step - loss: 0.3925 - accuracy: 0.8389
Epoch 26/100
438/438 [==============================] - 2s 5ms/step - loss: 0.3913 - accuracy: 0.8396
Epoch 27/100
438/438 [==============================] - 2s 5ms/step - loss: 0.3921 - accuracy: 0.8390
Epoch 28/100
438/438 [==============================] - 3s 6ms/step - loss: 0.3917 - accuracy: 0.8399
Epoch 29/100
438/438 [==============================] - 1s 3ms/step - loss: 0.3909 - accuracy: 0.8401
Epoch 30/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3911 - accuracy: 0.8374
Epoch 31/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3918 - accuracy: 0.8390
Epoch 32/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3904 - accuracy: 0.8394
Epoch 33/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3913 - accuracy: 0.8393
Epoch 34/100
438/438 [==============================] - 2s 3ms/step - loss: 0.3916 - accuracy: 0.8391
Epoch 35/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3917 - accuracy: 0.8404
Epoch 36/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3896 - accuracy: 0.8420
Epoch 37/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3909 - accuracy: 0.8399
Epoch 38/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3900 - accuracy: 0.8379
Epoch 39/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3907 - accuracy: 0.8406
Epoch 40/100
438/438 [==============================] - 2s 5ms/step - loss: 0.3900 - accuracy: 0.8384
Epoch 41/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3898 - accuracy: 0.8410
Epoch 42/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3903 - accuracy: 0.8394
Epoch 43/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3902 - accuracy: 0.8413
Epoch 44/100
438/438 [==============================] - 1s 3ms/step - loss: 0.3897 - accuracy: 0.8401
Epoch 45/100
438/438 [==============================] - 2s 5ms/step - loss: 0.3899 - accuracy: 0.8394
Epoch 46/100
438/438 [==============================] - 1s 3ms/step - loss: 0.3902 - accuracy: 0.8431
Epoch 47/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3901 - accuracy: 0.8393
Epoch 48/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3894 - accuracy: 0.8409
Epoch 49/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3895 - accuracy: 0.8381
Epoch 50/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3896 - accuracy: 0.8416
Epoch 51/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3894 - accuracy: 0.8390
Epoch 52/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3892 - accuracy: 0.8386
Epoch 53/100
438/438 [==============================] - 2s 3ms/step - loss: 0.3890 - accuracy: 0.8389
Epoch 54/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3902 - accuracy: 0.8394
Epoch 55/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3889 - accuracy: 0.8399
Epoch 56/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3884 - accuracy: 0.8416
Epoch 57/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3905 - accuracy: 0.8397
Epoch 58/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3890 - accuracy: 0.8397
Epoch 59/100
438/438 [==============================] - 2s 5ms/step - loss: 0.3892 - accuracy: 0.8394
Epoch 60/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3897 - accuracy: 0.8390
Epoch 61/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3883 - accuracy: 0.8393
Epoch 62/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3887 - accuracy: 0.8401
Epoch 63/100
438/438 [==============================] - 2s 5ms/step - loss: 0.3885 - accuracy: 0.8396
Epoch 64/100
438/438 [==============================] - 1s 3ms/step - loss: 0.3888 - accuracy: 0.8399
Epoch 65/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3892 - accuracy: 0.8389
Epoch 66/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3886 - accuracy: 0.8407
Epoch 67/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3881 - accuracy: 0.8403
Epoch 68/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3885 - accuracy: 0.8406
Epoch 69/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3887 - accuracy: 0.8413
Epoch 70/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3877 - accuracy: 0.8404
Epoch 71/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3879 - accuracy: 0.8393
Epoch 72/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3885 - accuracy: 0.8380
Epoch 73/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3884 - accuracy: 0.8394
Epoch 74/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3884 - accuracy: 0.8400
Epoch 75/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3879 - accuracy: 0.8383
Epoch 76/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3887 - accuracy: 0.8394
Epoch 77/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3880 - accuracy: 0.8404
Epoch 78/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3879 - accuracy: 0.8399
Epoch 79/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3878 - accuracy: 0.8386
Epoch 80/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3882 - accuracy: 0.8381
Epoch 81/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3880 - accuracy: 0.8396
Epoch 82/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3884 - accuracy: 0.8391
Epoch 83/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3880 - accuracy: 0.8389
Epoch 84/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3877 - accuracy: 0.8380
Epoch 85/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3879 - accuracy: 0.8384
Epoch 86/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3880 - accuracy: 0.8383
Epoch 87/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3881 - accuracy: 0.8379
Epoch 88/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3876 - accuracy: 0.8406
Epoch 89/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3877 - accuracy: 0.8386
Epoch 90/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3881 - accuracy: 0.8400
Epoch 91/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3871 - accuracy: 0.8394
Epoch 92/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3881 - accuracy: 0.8391
Epoch 93/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3880 - accuracy: 0.8409
Epoch 94/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3879 - accuracy: 0.8406
Epoch 95/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3885 - accuracy: 0.8393
Epoch 96/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3876 - accuracy: 0.8384
Epoch 97/100
438/438 [==============================] - 2s 3ms/step - loss: 0.3875 - accuracy: 0.8404
Epoch 98/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3874 - accuracy: 0.8407
Epoch 99/100
438/438 [==============================] - 2s 3ms/step - loss: 0.3873 - accuracy: 0.8409
Epoch 100/100
438/438 [==============================] - 2s 4ms/step - loss: 0.3863 - accuracy: 0.8411

In [17]:
score, acc=classifier.evaluate(x_train, y_train, batch_size=10)

print('Train score:', score)
print('Train accuracy:', acc)

print('*'*20)
score, acc = classifier.evaluate(x_test, y_test, batch_size=10)
print('Test score:', score)
print('Test accuracy:', acc)

700/700 [==============================] - 3s 3ms/step - loss: 0.3892 - accuracy: 0.8373
Train score: 0.3891725242137909
Train accuracy: 0.8372856974601746
********************
300/300 [==============================] - 1s 3ms/step - loss: 0.4144 - accuracy: 0.8280
Test score: 0.4144003093242645
Test accuracy: 0.828000009059906

In [18]:
from sklearn.metrics import classification_report, confusion_matrix
import numpy as np

# Make predictions on the test set
y_pred = np.argmax(classifier.predict(x_test), axis=1)

# Create a classification report
class_report = classification_report(y_test, y_pred)
print("Classification Report:\n", class_report)

# Create a confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", conf_matrix)

94/94 [==============================] - 1s 3ms/step
Classification Report:
               precision    recall  f1-score   support

           0       0.81      1.00      0.89      2415
           1       0.00      0.00      0.00       585

    accuracy                           0.81      3000
   macro avg       0.40      0.50      0.45      3000
weighted avg       0.65      0.81      0.72      3000

Confusion Matrix:
 [[2415    0]
 [ 585    0]]

c:\Users\hp\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\hp\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\hp\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))